.newPatient {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.newPatientTitle {
  font-size: 30px;
  font-weight: 600;
  color: rebeccapurple;
  display: flex;
  justify-content: center;
}
.newPatientForm {
  flex-wrap: wrap;
  display: flex;
  width: 66%;
  height: 100%;
}
.newPatientItem {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-right: 20px;
  width: 400px;
}
.newPatientItem > label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  color: gray;
}
.newPatientItem > input {
  padding: 10px;
  border: 2px solid rebeccapurple;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
}

.newPatientGender > input {
  margin-top: 10px;
}
.newPatientGender > label {
  margin: 10px;
  font-size: 18px;
  font-weight: 500;
  color: gray;
}
.newPatientButton {
  width: 300px;
  height: 40px;
  margin-top: 30px;
  border-radius: 10px;
  padding: 7px 10px;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: white;
  background-color: rebeccapurple;
  border: none;
}
