.userList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  position: fixed;
}
.search {
  border: 1px solid rebeccapurple;
}
.search:focus {
  border: 1px solid rebeccapurple;
}
